{% extends 'base.html' %}
{% block content %}

<h4>All Known Weavers</h4>
<p></p>
{% for w in weavers %}
<div class="card blue lighten-4">
    <a href="{% url 'detail' w.id%}">
    <div class="card-content black-text">
        <span class="card-title red-text text-accent-4">
        
            {{ w.name }}</span>
        <p><strong>Alias:</strong>
            
            {{ w.alias }}
        </p>
        <p><strong>Universe:</strong>
            
            {{ w.universe }}
        </p>
        <p>
            <ul>
                <li><strong>Enemies:</strong></li>
                {% for e in w.enemies %}
                <li>
                    &#9702; {{ e }}
                </li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>
{% endfor %}
<hr>

{% endblock %}