{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weaver Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
{% comment %} https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image {% endcomment %}
<body style="background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/marvel-spiderman-icon-graphic-teo-sewa.jpg');
            background-repeat: repeat;
            background-position: top left;
            background-size: 79px 90px;
            box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.5);
            ">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red accent-4">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Weaver Collector</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/about">About</a></li>
                    <li><a href="{% url 'powers_create' %}">Add a Power</a></li>
                    <li><a href="{% url 'powers_index' %}">View All Powers</a></li>
                    <li><a href="{% url 'weavers_create' %}">New Weaver</a></li>
                    <li><a href="/weavers">View All Weavers</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer blue">
        <div class="center brown-text text-darken-4">All Rights Reserved, &copy; 2024 Weaver Collector</div>
    </footer>
</body>

</html>